// Fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
$quicksand: "Quicksand", sans-serif;
$concert: "Concert One", cursive;

// Colours
$off-white: #ece2d0;
$green1: #cad2c5;
$green2: #84a98c;
$green3: #52796f;
$green4: #354f52;
$green5: #2f3e46;
$error: #bb3e03;

// Paths
$frame: "../assets/frame.jpg";
