@import "variables";
@import "mixins";

* {
    scrollbar-color: $green4 $green1;
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: $green1;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $green3;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $green4;
    }
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $quicksand;
    font-weight: bold;

    background-color: $green1;

    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.category-home,
.homepage {
    margin-bottom: 10em;
    h1 {
        color: $green5;
        background-color: rgba(white, 0.5);

        margin-block: 2em;
        padding: 1em 0.5em;

        border-radius: 30px;

        font-family: $concert;
        letter-spacing: 8px;
        font-size: calc(1em + 3vw);
        text-align: center;
        @media (max-width: 700px) {
            margin-top: 4em;
        }
    }
}

.homepage {
    @include flexCenter;
    flex-direction: column;
    h1 {
        width: 85%;
        padding-block: calc(1em - 0.5vw);
        margin-top: 1em;
    }
    .grid-container {
        width: 90%;
    }
}

.category-listing,
.homepage-listing {
    @include flexCenter;
    flex-direction: column;
    border-radius: 30px;
    background-color: $green3;
    img {
        width: 15em;
        margin-top: 5em;
        border-radius: 30px;
    }
    &__text {
        @include flexCenter;
        position: relative;
        width: 100%;
        height: 8em;
        color: $off-white;
        .price {
            padding-right: 4em;
            position: absolute;
            right: 0;
            @media (max-width: 1300px) {
                padding-right: 3em;
            }
        }
        .name {
            padding-left: 3em;
            position: absolute;
            font-size: 1.5em;
            left: 0;
            @media (max-width: 1300px) {
                padding-left: 2em;
            }
        }
    }
    &:hover {
        background-color: rgba($green3, 0.9);
    }
}

.homepage-listing {
    position: relative;
    p {
        position: absolute;
        bottom: 0;
        padding: 0.5em 1.5em;
        border-radius: 15px;

        color: white;
        background-color: rgba($green5, 0.8);
        font-size: 1.5em;
    }
    img {
        margin: 0;
        height: 100%;
        width: 100%;
    }
}

.zoom {
    transition: all 0.5s;
    z-index: 2;
}

.zoom:hover {
    transform: scale(1.05);
}

.grid-container {
    display: inline-grid;
    width: 80vw;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(3em + 1vw);
    @media (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cart-badge {
    position: absolute;
    @include flexCenter;
    right: 0;
    margin: 2em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    color: white;
    background-color: $green3;
}

.svg svg {
    position: fixed;
    right: 0;
    transform: scale(3);
    margin: 3em;
    color: $green5;
    @include onHover;
}

.nav {
    position: fixed;
    left: 0;
    margin: 1em;
    text-decoration: none;
    color: $green5;
    font-size: 2em;
    @include onHover;
}

.craft-listing {
    width: 80vw;
    height: 80vh;
    @include flexCenter;
    @media (max-width: 675px) {
        margin-top: 8em;
        flex-direction: column;
    }
    &__text {
        margin-left: 3em;
        text-align: center;
        @media (max-width: 675px) {
            margin-left: 0;
        }
        h1 {
            margin-top: -0.5em;
            @media (max-width: 675px) {
                margin-top: 1em;
            }
        }
        button {
            padding: 1em 2em;
            font-family: $quicksand;
            letter-spacing: 2px;
            border-radius: 20px;
            color: white;
            background-color: $green5;
            border: none;
            transition: all 700ms ease-in-out;
            &:hover {
                background-color: $green3;
            }
        }
        .category {
            font-style: italic;
        }
    }
    &__link {
        text-decoration: none;
        margin: 1em;
        color: $green5;
        font-size: 2em;
        text-align: center;
        @include onHover;
    }
    img{
        width: 90%;
    }
    .frame {
        @include flexCenter;
        background: url($frame);
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(40em - 20vw);
        width: calc(40em - 20vw);
        @media (max-width: 1000px) {
            height: calc(30em - 20vw);
            width: calc(30em - 20vw);
        }
        @media (max-width: 480px) {
            height: calc(20em - 20vw);
            width: calc(20em - 20vw);
        }
        @media (max-height: 675px) {
            height: calc(20em - 20vw);
            background: none;
        }
    }
}

.hover-underline-animation {
    position: relative;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $green5;
    transform-origin: bottom right;
    transition: transform 700ms ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.none-left {
    color: $error;
}

.shake {
    background-color: $error !important;
}
.shake:hover {
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.cart {
    margin-top: 5em;
    margin-bottom: 1em;
    width: 80vw;
    text-align: center;
    border-bottom: 1px solid $green5;
}

.cart-listing {
    display: flex;
    width: 100%;
    padding-block: 2em;
    min-height: 20em;
    align-items: center;
    justify-content: center;
    @media (max-width: 700px) {
        flex-direction: column;
    }

    .text {
        margin: 0;
        margin-left: calc(4em - 2vw);
        @media (max-width: 700px) {
            margin: 0;
            width: 70%;
            padding: 0;
            padding-bottom: 1em;
        }

        padding-block: 1em;
        width: 50%;
        border-radius: 30px;
        background-color: $green2;
    }
    img {
        border-radius: 30px;
        width: 225px;
    }
    button {
        padding: 1em 2em;
        font-family: $quicksand;
        letter-spacing: 2px;
        border-radius: 20px;
        color: white;
        background-color: $green5;
        border: none;
        transition: all 700ms ease-in-out;
        &:hover {
            background-color: $green3;
        }
    }
}
